table {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: left;
    color: rgb(107, 114, 128);
  }
  
  table thead {
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(17, 24, 39);
    text-transform: uppercase;
    background-color: rgb(107, 114, 128);
  }
  
  table thead tr th {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.95rem;
    padding-bottom: 0.75rem;
  }
  
  table tbody tr {
    background-color: rgb(255, 255, 255);
    border-bottom-width: 1px;
    background-color: rgb(red, green, blue);
  }
  
  table tbody tr:hover {
    background-color: rgb(249, 250, 251);
    cursor: pointer;
  }
  
  table tbody td {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }